:root {
    --primary: salmon;
    --secondary: #fcd5ce;
    --tertiary: #f8edeb;
    --quaternary: #f9dcc4;
    --quinary: #fec89a;
    }

* {
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--primary);
  }

.content h1 {
  padding-top: 20px;
}

.content h1,.content h2 {
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    font-size: 80px;
}

.content h2:not(:first-child){
  margin-top: 0;
}

.content p {
    text-align: justify;
    font-size: 22px;
    margin: 0 20%;
}

.cat-dog {
  background-repeat: no-repeat !important; 
  background-attachment: fixed !important;
  background-position: left bottom !important;
  
}

.team-profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 20%;
}

.member {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0% 0% 20% 0%;
  width: fit-content;
}

.member-name {
  padding: 10px 0;
  color: white;
  font-weight:normal;
  font-size: larger;
  background-color: gray;
}

.photo {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
}

#member {
  object-fit: cover;
}

@media screen and (max-width: 576px) {

  /* .photo {
    width: 192px;
    height: 192px;
  } */

  .content h1,.content h2 {
    font-size: 40px;
}

  .content p {
    font-size: 18px;
    margin: 0 10%;
}
  .team-profiles {
    display: flex;
    flex-direction: column;
  }
}



@media screen and (min-width: 576px) and (max-width: 768px) {

  .content h1,.content h2 {
    font-size: 50px;
}

  .content p {
    text-align: justify;
    font-size: 22px;
    margin: 0 10%;
}
  .team-profiles {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
  }

  /* .member {
    width: fit-content;
  } */
}

@media (min-width: 768px) {
  .content h1,.content h2 {
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    font-size: 80px;
  }

  .content p {
    text-align: justify;
    font-size: 22px;
    margin: 0 20%;
}

.team-profiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 20%;
}
}