:root {
    --primary: salmon;
    --secondary: #fcd5ce;
    --tertiary: #f8edeb;
    --quaternary: #f9dcc4;
    --quinary: #fec89a;
    }

* {
  box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
  }

.pawpalsLogo {
  margin-top: 30px;
  margin-left: 40px;
  position: absolute;
  width:10em;
}

/* MESSAGE BOX */

.hide {
  display: none;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur {
  filter: blur(5px);
}
