html {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: salmon;
}

/* PROFILE SECTION START */

.hide {
  display: none;
}

.shadow-box:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition:  box-shadow .6s ease-in;
}

/* textarea {

} */

/* PROFILE SECTION END */

/*************************/