:root {
  --primary: #ffb5a7;
  --secondary: #fcd5ce;
  --tertiary: #f8edeb;
  --quaternary: #f9dcc4;
  --quinary: #fec89a;
  --buttons: #fafad2;
}

* {
  overflow: hidden;
  box-sizing: border-box;
}

/* Create-profile modal classes */

#create-2 .img-select {
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-2 .img-choice {
  width: 320px;
  height: 320px;
  background-size: cover;
  background-position: center;
}

#create-2 .img {
  width: 320px;
  max-height: 320px;
  object-fit: cover;
}

#create-3 input {
  font-size: 26px;
  font-family: 'Open Sans condensed', sans-serif;
}

select {
  font-family: 'Open Sans condensed', sans-serif;
  font-size: 20px;
  height: auto;
}

option {
  font-family: 'Open Sans condensed', sans-serif;
}

#min-max-age {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#min-max-age select {
  font-family: 'Open Sans condensed', sans-serif;
  font-size: 20px;
}

#min-max-age p {
  margin: 0px 15px;
  /* margin: 0px; */
}

.modal {
  text-align: center;
  height: fit-content;
  font-family: 'Open Sans condensed', sans-serif;
  font-size: 26px;
  background-color: var(--secondary);
}

.modal button {
  margin-top: 30px;
  background-color: var(--buttons);
  font-family: 'Open Sans condensed', sans-serif;
  font-size: 18px;
  font-weight: 900;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
}

#page-1 {
  background-color: var(--primary);
}

.pawpalsLogo {
  margin-top: 30px;
  margin-left: 35px;
  position: absolute;
  width: 13em;
}

.slogan-button-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 35vh;
}
 
/*************************/

/* MY PROFILE BUTTON START */

#loginBtn {
  background-color: white;
  border-radius: 9px;
  /* font-family: 'Chango', cursive*/
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-family: 'Thasadith', sans-serif; */
  padding: 12px 20px;
  width: fit-content;
  margin-right: 35px;
  margin-top: 30px;
  border: none;
  float: right;
  position: relative;
  font-size: 18px;
  color: var(--quinary);
  background-color: #323232;
  transition:all .5s ease-out;
  background-position: 0 -10px;
}

/* #loginBtn:hover, #createProfileBtn:hover {
  background-position: 1px -50px;
  color: #323232;
  background-color: var(--quinary);
  border: 1px solid #323232;
} */

/* MY PROFILE BUTTON ENDS */

/*************************/

/* CREATE PROFILE BUTTON START */

#createProfileBtn {
  /* background-color: lightgoldenrodyellow; */
  border-radius: 9px;
  /* font-family: 'Chango', cursive*/
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  /* font-family: 'Thasadith', sans-serif; */
  padding: 10px 30px;
  width: fit-content;
  /* margin-top: 750px;
  margin-left: 43%; */
  /* position: relative; */
  /* background-image: linear-gradient(180deg, #ffe48b 0%, #da7d1afe 100%); */
  background-color: #323232;
  color: var(--quinary);
  transition:all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
  border: none;
}

#createProfileBtn:hover {
  background-position: 1px -50px;
}

/* CREATE PROFILE BUTTON END */

/*************************/

/* SLOGAN START */

#slogan {
  text-align: center;
  /* margin-left: 1000px;
  margin-right: 500px;
  margin-top: -350px; */
}

#slogan p {
  font-family: 'Thasadith', sans-serif;
  font-size: 78px;
  color: whitesmoke;
}

/* SLOGAN END */

/*************************/

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 576px) {
  .pawpalsLogo {
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    width: 11em;
  }

  #loginBtn {
    padding: 10px 20px;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 15px;
  }

  #slogan p {
    font-family: 'Thasadith', sans-serif;
    font-size: 40px;
    color: whitesmoke;
  }

  .slogan-button-flexbox {
    margin-top: 30vh;
  }

  #createProfileBtn {
    font-size: 15px;
    padding: 10px 30px;
  }
}