/* CSS DIRECTORY
	1. =GLOBAL
	2. =SECTIONS
	3. =
    4. =
    5. =
*/

/* ===1.GLOBAL=== */

* {
    box-sizing: border-box;
}

/* ===2.SECTIONS=== */

.section {
    text-align:center;
    font-size: 3em;
  }