html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-1 {
  background-color: salmon !important;
}

#board {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* background-color: rgb(245, 247, 250); */
  display: flex;
  align-items:center;
  justify-content:flex-end;
}

.card {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0%;
  background-color: white;
  border-top: 10px solid white;
  border-right: 10px solid white;
  border-left: 10px solid white;
  border-bottom: 80px solid white;
  transform: translateX(-50%) translateY(-50%) scale(0.95);
  background-size: cover;
  background-position: center;
}

.card-frame {
  width: 400px;
  height: 500px;
  border-radius: 2%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.name-age {
  position:absolute;
  margin-left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.name {
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: palevioletred;
  text-shadow: 2px 1px papayawhip;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
}

.age {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: White;
  text-shadow: 2px 1px palevioletred;
}

.bio {
  position: fixed;
  width: 90%;
  margin-top: 70px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.alert {
  height: 320px;
  width: 320px;
  display: flex;
  margin-bottom: 250px;
  font-size: 72px;
  color: pink;
  background-size: cover;
}